.carousel-nav {
    margin-top: 1.5em;
    margin-left: 105px;
}

.carousel-nav a {
    float: left;
    width: 17px;
    height: 16px;
    background: url('/img/bullet.png') no-repeat;
    text-indent: -9999px;
    border: 0;
    margin-right: 3px;
}
.carousel-nav a.active {
    background: url('/img/bullet-active.png') no-repeat;
}


/* Phones =============================================== */

div.iphone, div.android, div.wphone {
    position: relative;
    width: 290px;
}

div.iphone > div.carousel, div.android > div.carousel, div.wphone > div.carousel {
    position: absolute;
}


/* iPhone styles  */

div.iphone {
    background: url('/img/iphone.png') no-repeat top left;
    height: 565px;
}

div.iphone > div.carousel {
    left: 24px;
    top: 102px;
}

div.iphone > div.carousel img {
    height: 365px;
    width: 245px;
}
