body {margin-top: 40px;}
.iphone { position: relative; background: url('../img/iphone.png') no-repeat top left; width: 290px; height: 565px; }
.iphone > .inner { position: absolute; left: 24px; top: 102px; }
.iphone > .inner img { height: 365px; width: 245px; }