<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Beer Me</title>
        <meta name="description" content="Quickly find the best place nearby to have a beer! We do the thinking, you do the drinking.">
        <meta name="keywords" content="beer, bar, drink, navigation">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/flat-ui.css" rel="stylesheet">
        <link href="css/social-buttons.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
          <div class="row">
            <div class="span4 offset1">
              <div class="iphone">
                <div id="carousel-screenshots" class="carousel slide">
                     <div class="carousel-inner">
                         <div class="active item"><img src="img/screens/screen1.png" /></div>
                         <div class="item"><img src="img/screens/screen2.png" /></div>
                         <div class="item"><img src="img/screens/screen3.png" /></div>                         
                     </div>
                 </div>
              </div>
              <div class="carousel-nav">
                <a href="#" data-to="0" class="active">1</a>
                <a href="#" data-to="1">2</a>
                <a href="#" data-to="2">3</a>
              </div>
              
            </div>
            <div class="span6">
              <div class="about">
                <h1>Beer Me</h1>
                <h4>Quickly find the best place nearby to have a beer!</h4>
                <h5>We do the thinking, you do the drinking.</h5>
                <p class="ios">
                  <a href="https://itunes.apple.com/us/app/beer-me-now/id648176483" id="ios-download">
                    <img src="img/appstore.png" alt="Available on the iPhone App Store" />
                  </a>
                  <a href="/downloads/beerme.apk" id="play-download">
                    <img src="img/playstore.png" alt="Available on the Play Store" />
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span5 offset1"></div>
            <div class="span5">
                <p class="text-right">
                    <a href="http://twitter.com/beermeios" class="sb min twitter" title="Twitter"></a>
                    <a href="http://facebook.com/beermeapp" class="sb min facebook" title="Facebook"></a>
                    <a href="http://pinterest.com/beermeapp" class="sb min pinterest" title="Pinterest"></a>
                </p>
                <p class="text-right">Developed by <a href="http://sudothinker.com">Michael Murray</a>.</p>
                <p class="text-right">Copyright 2013. All rights reserved.</p>
            </div>
          </div>
        </div> <!-- /container -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-460129-14', 'beermeapp.com');
          ga('send', 'pageview');

        </script>
        <script>
          $(window).load(function() {
            $('#carousel-screenshots').carousel({
              interval: 3000
            });
        
            $(".carousel-nav a").click(function(e){
                e.preventDefault();
                var index = parseInt($(this).attr('data-to'));
                $('#carousel-screenshots').carousel(index);
                var nav = $('.carousel-nav');
                var item = nav.find('a').get(index);
                nav.find('a.active').removeClass('active');
                $(item).addClass('active');
            });
        
            $("#carousel-screenshots").bind('slide', function(e) {
              var elements = 3; // change to the number of elements in your nav
              var nav = $('.carousel-nav');
              var index = $('#carousel-screenshots').find('.item.active').index();
              index = (index == elements - 1) ? 0 : index + 1;
              var item = nav.find('a').get(index);
              nav.find('a.active').removeClass('active');
              $(item).addClass('active');
            });
            
            $('#ios-download').on('click', function() {
              ga('send', 'event', 'button', 'click', 'download');
            });
            $('#play-download').on('click', function() {
               ga('send', 'event', 'button', 'click', 'play-download');
             });
          });
        </script>
    </body>
</html>
